click==8.0.1
colorama==0.4.4
dataclasses==0.8
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
SQLAlchemy==1.4.22
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
efficientnet==1.1.1
h5py==2.10.0
opencv-python==4.5.2.54
sklearn==0.0
requests

